@use "./styles/shared";
.root {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #282c34;
}
.logo {
  height: 6vmin;
  padding: 1rem;
  filter: invert(1);
}
.header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: shared.$primary-color;
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin: 10px;
    }
  }
}
.link {
  color: shared.$link-color;

}
.main {
  min-height: 90vh;
  color: shared.$primary-color;
  padding: 1rem;
}